.reveal p {
    text-align: left;
    font-size: 20px;
  }
  .reveal body:after {
    position: fixed;
    bottom: 3.5em;
    left: 3.5em;
    box-shadow: 5px 5px 10px #000; 
  }
  .reveal hr {
    border-color: #0077aa;
  }
  .reveal h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    text-align: center;
    color: #0077aa;
    font-family: 'Helvetica Neue';
  }

  .reveal h2 {
    font-size: 22px;
    color: #0077aa;
  }
  .reveal ul {
    display: block;
  }
  .reveal ul li {
    color: #3c3c3c; 
    /* set color of list item text */
    list-style: none; 
    font-size: 20px;
  }

  .reveal ul li::before {
      color: #006b6e;  
      /* color of bullet or square */
      content: "\2022"; 
      /* Unicode of character to precede the list item */
      font-size: 1em; 
      /* em or %*/ 
      padding-right: 1.1225em; 
      /* use em*/
      position: relative;
      top: 0em; 
      /* use em or % */
  }
  .reveal ul {
    line-height:150%
  }
  .reveal .fragment {
    font-size: 20px;
  }
  .reveal ol {
    display: block;
  }